* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ralewayregular';
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header {
    font-size: 18px;
    background-color: #000;
    text-transform: uppercase;
}

.container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 50px 10px 50px;
}

header,
ul {
    color: white;
}

span,
 a:hover{
    color: mediumseagreen;
}

span,
h2 {
    font-family: 'ralewaybold';
}

ul li{
    display: inline-block;
}

li a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 10px;
}
.blackChairContent {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background: rgb(199,199,199);
    background: linear-gradient(0deg, rgba(199,199,199,1) 0%, rgba(255,255,255,1) 100%, rgba(172,172,172,1) 100%);
}

.blackChairImg {
    justify-content: center;
    margin: 60px 0 30px 0;
    width: 50%;
    position: relative;
    float: left;
    height: 500px;
    background-image: url(../images/black_chair.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: aqua;
    display: flex;
}

.sliderArrows  {
    display: flex;
}

.sliderArrows a{
    text-decoration: none;
    color: mediumseagreen;
    font-size: 70px;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
}


.blackChairText {
    text-align: center;
    background-color: red;
    float: right;
    width: 500px;
    display: flex;
    height: 500px;
    z-index: 1000;
}


.textWrapper h2 {
    font-size: 60px;
}

.textWrapperBtn {
    margin-top: 35px;
    border: none;
    background-color: mediumseagreen;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 30px;
}

.chairBoxes {
    margin: 30px 0 150px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    align-items: center;
    display: inline-block;
    background-color: antiquewhite;
    width: 400px;
    height: 280px;   
    border: 1px solid blue;
}

.box:last-child {
    position: relative;
    height: 350px;
}

.prizeBackGround {
    background-color: bisque;
    width: 100%;
}

.prizesTitle {
    position: absolute;
}

.prizes {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 80px;
    background-color: ghostwhite;
    justify-content: space-between;
}

.plan {
    width: 380px;
    height: 500px;
    border: 1px solid black;
    display: inline-block;
    background-color: mediumseagreen;
}

.prizesTitle::after {
    content: '';
    display: block;
    width: 380px;
    height: 10px;
    background-color: mediumseagreen;
}