* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ralewayregular' ;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header {
    font-size: 18px;
    background-color: #000;
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

header,
ul {
    color: white;
}

span,
 a:hover{
    color: mediumseagreen;
}

span,
h2 {
    font-family: 'ralewaybold';
}

ul li{
    display: inline-block;
}

li a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.gradientBackg {
    background: rgb(199,199,199);
background: linear-gradient(0deg, rgba(199,199,199,0.8183648459383753) 0%, rgba(255,255,255,0.8631827731092436) 100%, rgba(172,172,172,1) 100%);
}

.slider {
    height: 500px;
    width: 90%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
}

/* .sliderChair{ 
    height: 500px;
    border: 1px solid red;
    float: left;
    background-size: cover;
   
}

.sliderItem {
    float: right;
    height: 500px;
    border: 1px solid green;
    justify-content: center;
} */

.sliderItem h1 {
    margin-top: 30px;
    height: 90px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.chairBoxes {
    margin: 30px 0 80px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box {
    align-items: center;
    display: inline-block;
    width: 400px;
    height: 280px;   
    border: 1px solid blue;
}

.box:nth-child(1) {
    background-image: url(../images/box1_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box:nth-child(2) {
    background-image: url(../images/box2_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.insideBoxContent:nth-child(1),
.insideBoxContent:nth-child(2) {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 200px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 0 0 5px;
}

.insideBoxContent:nth-child(3) {
    width: 100%;
    height: 70px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 0 0 5px;
}

.textbox::after {
    content: "";
    display: block;
    width: 140px;
    height: 5px;
    background-color: mediumseagreen;
}

.greenUndescoreBox {
    height: 7px;
    width: 120px;
    background-color: mediumseagreen;
}

.boxWrapper {
    margin: 0 auto;
    width: 55%;
    display: flex;
}

.box:last-child {
    position: relative;
    height: 310px;
}

.insideBoxContent {
    display: flex;
    align-items: center;
}

.prizeBackGround {
    background-color: bisque;

}

.titles {
    position: absolute;
}

.prizes {
    display: flex;
    width: 100%;
    height: 700px;
    margin-bottom: -30px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.circleTop {
    position: absolute;
    width: 70px;
    height: 70px;
    display: block;
    background-color: grey;
    border-radius: 50%;
    border: 1px solid black;
}

.plan {
    position: relative;
    display: flex;
    width: 360px;
    height: 500px;
    border: 1px solid black;
    display: inline-block;
    background-color: mediumseagreen;
}


form {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.formWrapper {
    display: flex;
    width: 100%;
}


input[type="text"],[type="email"], textarea {
    position: relative;
    width: 600px;
    height: 70px;
    padding: 12px;
    border: 1px solid mediumspringgreen;
    font-size: 40px;
    color: ghostwhite;
    align-items: center;
    margin-left: 60px;
  }

input[type="submit"] {
    background-color: mediumseagreen;
    border-radius: 10px;
    border: none;
    height: 70px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    float: right;
}

.copyRightWrapper {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.footerSocial {
    display: flex;
}

.checkedIcon {
    width: 60px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border: 1px solid mediumseagreen;
}

.formOrangeChair {
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}